* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #323742;
}

#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.contenedor {
  width: 80%;
  max-width: 1200px;
  margin-left: 10%;
  padding: 20px 30px;
  position: relative;
  z-index: 99;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: center;
    padding: 0px;
}

nav a {
    color: #fff;
    text-align: right;
    text-decoration: none;
    font-size: 1 em;
    margin-left: 30px;
}

.button_slide {
  color: #FFF;
  border: 2px solid rgb(86, 137, 159);
  border-radius: 10px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rgb(7, 175, 247);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px rgb(86, 137, 159);
}



section {
        margin-bottom: 40px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        text-align: center;
}

 h1, h2 {
        margin-bottom: 20px;
}

.container {
  display:flex ;
  text-align: center;
}

.container img{
  width: 200px;
  border-radius: 10px;
}

.texto{
  margin-left: 20px;
  text-align: center;
}

.slider-frame {
    width: 100%;
    height: 65vh;
    margin: 50px auto 0;
    overflow: hidden;
  }
  
  .slider-frame ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 20s infinite ease-in-out;
  }
  
  .slider-frame li {
    list-style: none;
    width: 100%;
  }
  
  .slider-frame img {
    width: 65%;
    border-radius: 10px;
  }
  
  @keyframes slide {
    0% {
      margin-left: 0%;
    }
    30% {
      margin-left: 0%;
    }
  
    35% {
      margin-left: -100%;
    }
    60% {
      margin-left: -100%;
    }
  
    65% {
      margin-left: -200%;
    }
    95% {
      margin-left: -200%;
    }
  
  }

a.logo{
  margin: 40px;
}

.div-contacto{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.contacto {
  width: 90px;
  height: 90px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 100%;
}

.contacto:hover {
  background-color: rgb(130, 116, 235);
}

footer{
    background-color: #333;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}


